@charset "utf-8";
/* CSS Document */

a {
	color: #95c440;
}

a:visited {
	color: #95c440;
}

input:focus,
textarea:focus {
	border: 1px solid #95c440;
}

/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	background: #95c440; /* Old browsers */
}

.nav-container .current_page_item > a > span,
.nav-container .current_page_ancestor > a > span,
.nav-container .current-menu-item > a span,
.nav-container .current-menu-ancestor > a > span,
.nav-container li a:hover span {
	background-color: #95c440; /* variable color */
}

.nav-container li:hover > a,
.nav-container li a:hover {
	color: #95c440;
}

/* variable color */
.nav-container .sub-menu,
.nav-container .children {
	border: 1px solid #e7e7e7;
	border-top: 2px solid #95c440; /* variable color */
}

.ibanner {
	background-color: #95c440;
}

.ibanner,
.tx-folio-img .folio-links .folio-linkico, 
.tx-folio-img .folio-links .folio-zoomico {
	background-color: #95c440;
}

/**//*

div.ibanner .da-slider .da-slide h2 {
	background-color: rgba(55,135,190,0.6);	
}

div.ibanner .da-slider .da-slide p {
	background-color: rgba(64,64,64,0.6);
}

*/

.da-dots span.da-dots-current {
	background-color: #95c440;
}

div#ft-post div.entry-thumbnail:hover > div.comments-link {
	background-color: #95c440;
}

.entry-header h1.entry-title a:hover {
	color: #95c440;
}

.entry-header > div.entry-meta a:hover {
	color: #95c440;
}

.featured-area div.entry-summary > p > a.moretag:hover {
	background-color: #95c440;
}

.site-content .post div.meta-img div.entry-thumbnail img {
	border-top: 2px solid #95c440;
}

.site-content div.entry-thumbnail .stickyonimg,
.site-content div.entry-thumbnail .dateonimg {
	background-color: #95c440;
}

.site-content div.entry-nothumb .stickyonimg,
.site-content div.entry-nothumb .dateonimg {
	background-color: #95c440;
}

.entry-meta a {
	color: #95c440;
}

.entry-content a,
.comment-content a {
	color: #95c440;
}

.format-status .entry-content .page-links a,
.format-gallery .entry-content .page-links a,
.format-chat .entry-content .page-links a,
.format-quote .entry-content .page-links a,
.page-links a {
	background: #95c440;
	border: 1px solid #95c440;
	color: #ffffff;
}

.format-gallery .entry-content .page-links a:hover,
.format-audio .entry-content .page-links a:hover,
.format-status .entry-content .page-links a:hover,
.format-video .entry-content .page-links a:hover,
.format-chat .entry-content .page-links a:hover,
.format-quote .entry-content .page-links a:hover,
.page-links a:hover {
	color: #95c440;
}

.iheader {
	background: rgba(122,175,23,1);
	background: -moz-linear-gradient(top, rgba(122,175,23,1) 0%, rgba(150,196,64,1) 40%, rgba(150,196,64,1) 62%, rgba(122,175,23,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(122,175,23,1)), color-stop(40%, rgba(150,196,64,1)), color-stop(62%, rgba(150,196,64,1)), color-stop(100%, rgba(122,175,23,1)));
	background: -webkit-linear-gradient(top, rgba(122,175,23,1) 0%, rgba(150,196,64,1) 40%, rgba(150,196,64,1) 62%, rgba(122,175,23,1) 100%);
	background: -o-linear-gradient(top, rgba(122,175,23,1) 0%, rgba(150,196,64,1) 40%, rgba(150,196,64,1) 62%, rgba(122,175,23,1) 100%);
	background: -ms-linear-gradient(top, rgba(122,175,23,1) 0%, rgba(150,196,64,1) 40%, rgba(150,196,64,1) 62%, rgba(122,175,23,1) 100%);
	background: linear-gradient(to bottom, rgba(122,175,23,1) 0%, rgba(150,196,64,1) 40%, rgba(150,196,64,1) 62%, rgba(122,175,23,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aaf17', endColorstr='#7aaf17', GradientType=0 );
	
}

.iheader.front {
	background-color: #95c440;
}

.navigation a {
	color: #95c440;
}

.paging-navigation div.navigation > ul > li a:hover,
.paging-navigation div.navigation > ul > li.active > a {
	color: #95c440;
	border-color: #95c440;
}

.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login {
	color: #95c440;
}

.comment-body a,
.comment-meta,
.comment-meta a {
	color: #95c440;
}

.widget a:hover {
	color: #95c440;
}

.widget_calendar a:hover {
	background-color: #95c440;
	color: #ffffff;	
}

.widget_calendar td#next a:hover,
.widget_calendar td#prev a:hover {
	background-color: #95c440;
	color: #ffffff;		
}

.site-footer div.widget-area .widget a:hover {
	color: #95c440;
}

.site-main div.widget-area .widget_calendar a:hover,
.site-footer div.widget-area .widget_calendar a:hover {
	background-color: #95c440;
	color: #ffffff;		
}

.da-dots > span > span {
	background-color: #95c440;
}

.widget a:visited,
.entry-header h1.entry-title a:visited {
	color: #474747;
}

.widget a:hover,
.entry-header h1.entry-title a:hover {
	color: #95c440;
}

.error404 .page-title:before {
	color: #95c440;
}

.format-status {
	background-color: #95c440;
}

.content-area .tx-service .tx-service-icon span {
	color: #95c440;
	border-color:  #95c440;
}

.content-area .tx-service:hover .tx-service-icon span {
	background-color: #95c440;
}

.content-area .tx-service .tx-service-icon span i {
	color: #95c440;	
}
.content-area .tx-service:hover .tx-service-icon span i {
	color: #FFFFFF;	
}